@import url(http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300);

body {
  color: #191919;
  font-family: 'Open Sans', sans-serif;
}

h1 {
 font-family: 'Open Sans Condensed', sans-serif;
}

#header {
  overflow: hidden;
}

#header h1 {
  margin: 0 20px;
  width: 150px;
  float: left;
}

#menu {
  float: right;
}

#menu li {
  display: inline-block;
}

#app {
  overflow: hidden;
}

/********************************/

#login {
  display: none;
  color: white;
  width: 150px;
  position: absolute;
  margin: 0 auto;
  top: 3%;
  left: 50%;
  margin-left: -75px;
  padding: 20px 50px;
  background-color: rgba(0,0,0,.9);
  text-align:center;
}

#login h1 {
  margin: 0
}

#login input {
  display: block;
  width: 100%;
}

/********************************/
#dashboard_menu {
  width: 150px;
  background-color: rgba(0,0,0,.3);
  position: absolute;
  left: 0
  top:0;
}

#app_area {
  width: 100%;
  padding-left: 290px;
}

#app_area form {
  padding: 20px;
}

#result_area {
  height: 100px;
  width: 40%;
  border: 1px solid black;
}

/********************************/

#app {
  display: block;
  width: 90%;
  margin: 10px auto;
  border: 1px solid black;
  border-width: 1px 0; 
  padding: 10px 0;
  overflow: hidden;
}

#url_list {
  width: 60%;
  float: left;
}

#url_list table {
  width: 100%;
}
#description {
  width: 38%;
  float: right;
}


/********************************/

#footer {
  text-align: center;
}

#gracias {
  width: 32px;
  display: block;
  margin: 0 auto;
}
