<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Peque.no</title>
      <link rel="stylesheet" href="css/pequeno.css">
  </head>
  <body>
    <div id="login">
      <h1>Login</h1>
      <span id="close-login">x</span>
      <form action="#" method="post" accept-charset="utf-8">
        <input type="text" name="user" value="" placeholder="User">
        <input type="password" name="password" value="" placeholder="Password">
        <input type="submit" name="submit" value="Join" id="join">
      </form>

    </div>

    <header id="header" class="">
      <h1><a href="#" title="Home">Peque.NO</a></h1>
      <ul id="menu">
        <li><a href="#login" title="Home">Login</a></li>
      </ul>
    </header><!-- /header -->

    <section id="app">
    </section>



    <footer id="footer">
      Peque.no, a <a href="https://github.com/BackshopCollege" title="Backshop College">Backshop College</a>
      project. 
      <img src="img/gracias.png" alt="Gracias ;)" id="gracias">
      Gracias ;)
    </footer>


<script id="line_template" type="text/template"  charset="utf-8" > 
<tr> 
  <td><a href="#" title="enter">peque.no/<%= slang %></a></td>
  <td><%= clicks %> clicks</td>
  <td><%= when %></td>
</tr>  
</script>


<script id="home_template" type="text/template" charset="utf-8" >
     <div id="url_list">
        <table>
          <thead>
            <tr>
              <th>url</th>
              <th>clicks</th>
              <th>when</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div id="description">
        <h1>Peque.NO</h1>
        <p>
          A brand new (or yet another, you choose) url enshorting mechanism.
          It was (and still evoluting) created from the 
          <a href="https://github.com/BackshopCollege" title="Backshop College">Backshop College</a>, 
          aimed for us to study this development stack, witch going to envolve:
          <ul>
            <li><a href="http://backbonejs.org" title="Backbone.js">Backbone.js</a></li>
            <li><a href="http://underscorejs.org" title="Underscore.js">Underscore.js</a></li>
            <li><a href="http://requirejs.org" title="Require.js">Require.js</a></li>
            <li><a href="#" title="Ruby">Ruby</a></li>
            <li><a href="#" title="Rspec">Rspec</a></li>
            <li><a href="#" title="Rack">Rack</a></li>
          </ul>
          <p>
            If you want to see (suggestions are also welcome), visit our 
            <a href="http://github.com/x1s/peque.no" title="github">github</a>
            repository.
          </p>
        </p>
      </div>
</script>

<script id="dashboard_template" type="text/template" charset="utf-8" >
   <nav id="dashboard_menu">
        <ul>
            <li><a href="#" title="Add new">Add new</a></li>
            <li><a href="#" title="List all">List all</a></li>
            <li><a href="#" title="Config">Config</a></li>
          </ul>
      </nav>

      <div id="app_area">
        
        <form action="#" method="post" accept-charset="utf-8">
          <input type="text" name="url" value="" placeholder="Past your url here">
          <input type="submit" name="" value="creat the beast">
        </form>
        <div id="result_area">
          
        </div>
      </div>
</script>



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/js/underscore.js" type="text/javascript" charset="utf-8" ></script>
    <script src="/js/backbone.js" type="text/javascript" charset="utf-8" ></script>
    <script src="/js/pequeno.js" type="text/javascript" charset="utf-8" ></script>
    <script src="/js/routes.js" type="text/javascript" charset="utf-8" ></script>
  </body>
</html>