<header id="header" class="">
  <h1><a href="#" id="logo" title="Home">Peque.NO</a></h1>
  <ul id="menu">
    <li><a href="#login" id="login_btn" title="Home">Login</a></li>
  </ul>
</header><!-- /header -->

<section id="app"></section>

<footer id="footer">
  Peque.no is a 
  <a href="https://github.com/BackshopCollege" title="Backshop College" target="_blank">Backshop College</a>
  project. 
  <img src="img/gracias.png" alt="Gracias ;)" id="gracias">
  Gracias ;)
</footer>

<div id="login"></div>
