<div id="url_list"></div>
<div id="description">
  <h1>Peque.NO</h1>
  <p>
    A brand new (or yet another, you choose) url enshorting mechanism.
    It was (and still evoluting) created from the 
    <a href="https://github.com/BackshopCollege" title="Backshop College">Backshop College</a>, 
    aimed for us to study this development stack, witch going to envolve:
    <ul>
      <li><a href="http://backbonejs.org" title="Backbone.js">Backbone.js</a></li>
      <li><a href="http://underscorejs.org" title="Underscore.js">Underscore.js</a></li>
      <li><a href="http://requirejs.org" title="Require.js">Require.js</a></li>
      <li><a href="#" title="Ruby">Ruby</a></li>
      <li><a href="#" title="Rspec">Rspec</a></li>
      <li><a href="#" title="Rack">Rack</a></li>
    </ul>
    <p>
      If you want to see (suggestions are also welcome), visit our 
      <a href="http://github.com/x1s/peque.no" title="github">github</a>
      repository.
    </p>
  </p>
</div>
